body *{
    box-sizing:border-box;

}


/*Work1*/
header{
    min-height: 800px;
}

.block{
    left: 150px;
    top: 200px;
    height: 300px;
    width: 300px;
    border: 5px ridge #ffef22;
    background: url("../images/2.jpg") no-repeat center top /cover;
}

.block1{
    position: relative;


}

.block1:hover{
    /*transition: width 1.5s 1.5s ease-in;
    transform:scale(0.5, 0.5) ;*/
    transform: scale(0.5);
    transition: all 1s ease-in-out;

}

.block2{
    position: absolute;
    transform: rotate(150grad);
    opacity: .7;
}

.block2:hover{
    transform: rotate(170grad);
    transition: all 1s ease;
}

.block3{
    position: absolute;
    transform: rotate(270grad);
    opacity: .5;
}
.block3:hover{
    transform: rotate(280grad);
    transition: all 1s ease;
}

.block4{
    position: absolute;
    transform: rotate(280grad);
    opacity: .3;
}
.block4:hover{
    transform: rotate(290grad);
    transition: all 1s  ease;
}

/*Work2*/


/*Menu*/
main{
    height: 500px;
    background-color: #f6f6f6;

}

.menu{

    transition:  0.8s ;
    height: 90%;
    width: 20px;
    background-color: #717171;
    overflow: hidden;


}


.menu:hover{
    transition: all 0.7s ease-in-out;
    padding-top: 20px;
    max-width: 100%;
    height: 90%;
    width: 400px;
    background-color: #717171;
    border-bottom: 2px ridge #ffef22;
    box-shadow:  2px 2px 2px rgba(0,0,0, .5);

}

.menu a{
    color: #ffffff;
    text-decoration: none;


}



ul{
    width: 400px;

    list-style: none;
    padding: 0;
}
li{

    padding: 5px 10px;
    margin: 0 5px 0 20px;
}

span{
    color: red;
}
.menu li:hover{

    background-color: #ffb72b;
}

@media (min-width: 1200px){
    .footer{
        min-height: 800px;
    }
    .menu2{
        width: 100%;
        min-height: 80px;

    }

    .menu2:hover{
        width: 100%;
    }

    .menu2 li{
        display: inline-block;

    }
    .menu2 ul{
        margin: 0 auto;
        padding: 20px 0;
        display: block;
        width: 900px;


    }

}



